/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Beginning of My Code */

/* Navigation section */

.nav_container {
  background-color: lightgray;
  padding-bottom: 20px;
}

.nav_name {
  font-size: xx-large;
  padding: 30px;
}

.nav_buttons {
  display: flex;
  justify-content: flex-start;
  padding-left: 50px;
}
.nav_home {
  background-color: black;
  color: white;
  width: 75px;
  padding: 5px;
  text-align: center;
  border: 1px black solid;
  text-decoration: none;
}
.nav_about {
  background-color: white;
  color: black;
  width: 75px;
  padding: 5px;
  text-align: center;
  border: 1px black solid;
  text-decoration: none;
}
.nav_contact {
  background-color: white;
  color: black;
  width: 75px;
  padding: 5px;
  text-align: center;
  border: 1px black solid;
  text-decoration: none;
}
.nav_project {
  background-color: white;
  color: black;
  width: 75px;
  padding: 5px;
  text-align: center;
  border: 1px black solid;
  text-decoration: none;
}

/* End navigation section */

/* Begin header section */

.header_container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
}

.header_text_container {
  padding-left: 80px;
}

.header_image {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.header_title {
  font-size: 52px;
  text-align: center;
  margin-top: 80px;
}

.header_button_container {
  /* border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-size: xx-large;
  background-color: dodgerblue;
  margin-top: 20px;
  margin-bottom: 20px; */
}

.header_button {
  padding: 10px;
  text-align: center;
  font-size: xx-large;
  background-color: dodgerblue;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
  color: white;
  width: 100%;
}

.header_text {
  font-size: 24px;
  text-align: left;
}

/* End header section */

/* Begin body section */

.body_container {
}

.body_section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-top: 50px;
}

.body_box {
  width: 30%;
  height: 300px;
  margin: 5px;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.box_image {
  height: 90%;
}

.box_text {
  height: 20%;
  font-size: xx-large;
  font-weight: bold;
}

.footer_container {
  background-color: lightgray;
  padding-bottom: 20px;
  margin-top: 50px;
}

.footer_navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer_text {
  font-size: xx-large;
  padding: 30px;
  text-align: center;
}

.contact {
  border: 1px solid black;
  text-align: center;
  font-size: xx-large;
  background-color: dodgerblue;
  color: white;
  text-decoration: none;
  margin-bottom: 50px;
  padding: 10px;
}
